#root {
  --box-border: 2px solid orange;
  --box-border-radius: 4px;
  --bg-primary: teal;
  --color-light: #f1f1f1;
  --color-primary: var(--bg-primary);


}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-1 {
  padding: 1vmin;
}

.p-2 {
  padding: 2vmin;
}

.p-4 {
  padding: 4vmin;
}

.border-none {
  border: 0;
}

.border-secondary {
  border: var(--box-border);
}

.border-rounded-1 {
  border-radius: 1vmin;
}

.border-rounded-4 {
  border-radius: 4vmin;
}

.bg-primary {
  background: var(--bg-primary);
}

.color-primary {
  color: var(--color-primary);
}

.color-light {
  color: var(--color-light);
}

.btn-primary {
  background: var(--bg-primary);
}

li {
  list-style-type: none;
}

.App {

}